<h1> Add Research </h1>

<form method="POST" action="/research/add">

    <div class="form-group">
        <label>Research Topic</label>
        <input type="text" name="researchSubject" class="form-control">
    </div>

    <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" class="form-control">
    </div>

    <div class="form-group">
        <label>Date of Publish</label>
        <input type="date" name="dateofpublish" class="form-control">
    </div>

    <div class="form-group">
        <label>Research Introduction</label>
        <textarea name="researchIntro" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>category of Research</label>
        <select  class="form-control">
            
        <option>Business Mangement</option>
        <option>Computer Science</option>
        <option>Law and Advocacy</option>
        <option>History</option>
        </select>
    </div>
    <div class="form-group">
        <label>category of Research</label>
        <select class="form-control">
        <option>Business Mangement</option>
        <option>Computer Science</option>
        <option>Law and Advocacy</option>
        <option>History</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Resaerch</button>
</form>